.categories__list {
  position: relative;
  top: 64px;
}

.category__container {
  border-bottom: 0.5px solid #d5d5d5;
  width: 324px;
  height: 56px;
  :hover {
    background-color: #f5f5f5;
    color: #666666;
  }
}

a {
  width: 324px;
  height: 56px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  outline: none;
}

.category__title {
  font-size: 18px;
  color: #666666;
  padding-left: 10px;
  font-weight: 400;
  font-family: 'SF UI Display';
  font-size: 18px;
}

.category__info {
  display: flex;
  align-items: center;
}

.category__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 19.5px;
  max-height: 19px;
  margin: 18px 14.1px 19px 18.4px;
  color: #4fd053;
  img {
    width: 100%;
  }
}

.hide__icon-container {
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.hide__icon {
  transform: rotate(180deg);
}

.categories {
  background-color: #f5f5f5;
  width: 324px;
  height: 56px;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #d5d5d5;
}

.all-section {
  font-size: 18px;
  color: #666666;
  padding-left: 47px;
  font-weight: 400;
  font-family: 'SF UI Display';
  font-size: 18px;
}
