.category__container {
  border-bottom: 0.5px solid #d5d5d5;
  width: 324px;
  height: 56px;
  :hover {
    background-color: #f5f5f5;
    color: #666666;
  }
}

button {
  width: 324px;
  height: 56px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  :active {
    background-color: rgba(79, 208, 83, 0.1);
    color: #666666;
  }

  .category__title {
    font-size: 18px;
    color: #666666;
    padding-left: 10px;
    font-weight: 400;
  }
}

.category__info {
  display: flex;
  align-items: center;
}

.category__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 19.5px;
  max-height: 19px;
  margin: 18px 14.1px 19px 18.4px;
  color: #4fd053;
  img {
    width: 100%;
  }
}

.hide__icon-container {
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.hide__icon {
  transform: rotate(180deg);
}

.categories {
  background-color: #f5f5f5;
  width: 324px;
  height: 56px;
  display: flex;
  align-items: center;
}

.all__section {
  font-size: 18px;
  color: #666666;
  padding-left: 47px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

// .collapsible {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-start;
//   align-items: center;
//   border: 1px solid grey;
//   width: 324px;
//   height: 56px;

//   &__img {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     max-width: 19.5px;
//     max-height: 19px;
//     margin: 18px 14.1px 19px 18.4px;
//     color: #4fd053;
//     img {
//       width: 100%;
//     }
//   }

//   &__content {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     width: 100%;
//     margin-right: 16px;
//     &-title {
//       font-family: 'SF UI Display';
//       font-size: 18px;
//       color: #666666;
//     }
//     &-display {
//       display: flex;
//       justify-content: center;
//       width: 24px;
//       height: 24px;
//       img {
//         width: 100%;
//         transform: rotate(-180deg);
//       }
//     }
//   }
// }
